.testimonials {
  padding: var(--default-padding) 0 0 0;
  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: var(--default-padding);
    @media (min-width: 768px) {
      padding-bottom: calc(var(--default-padding) * 2);
    }
  }

  .slider {
    &__card-item {
      padding: var(--default-padding);
      background-color: var(--primary-color);
      outline: 1px solid #fff;
      outline-offset: -8px;
      color: #fff;
    }
    &__name {
      color: var(--secondary-color);
      text-transform: uppercase;
      font-size: 2rem;
      @media (min-width: 992px) {
        font-size: 2.4rem;
      }
    }
    &__stars {
      padding: 1rem 0;
      font-size: 1.4rem;
      @media (min-width: 992px) {
        padding: 2rem 0;
      }
      & i {
        padding-right: 3px;
      }
    }
    &__opinion-source {
      font-size: 1.6rem;
    }
    &__opinion {
      padding-top: 10px;
      font-size: 1.8rem;
      line-height: 1.4;
      @media (min-width: 992px) {
        font-size: 2rem;
      }
    }
  }
}
